.dropdown-item:hover {
  color: black !important; /* Cambia el color del texto a negro en hover */
}


.float{
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  background-color:#25d366;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:30px;
  box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
  margin-top:16px;
}


.btn {
  font-size: 17px;
  background: transparent;
  border: none;
  padding: 1em 1.5em;
  color: #000000;
  text-transform: uppercase;
  position: relative;
  transition: 0.5s ease;
  cursor: pointer;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #3b3b3a;
  transition: 0.5s ease;
}

.btn:hover {
  color: #1e1e2b;
  transition-delay: 0.5s;
}

.btn:hover::before {
  width: 100%;
}

.btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #484846;
  transition: 0.4s ease;
  z-index: -1;
}

.btn:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  color: aliceblue;
}




/*Formulario*/
body {
    background-color: #f9f9f9; /* Fondo gris claro */
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
}

.image-container {
    flex: 1;
    text-align: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.form-container {
    flex: 1;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
}

.form-label {
    color: #555;
    font-size: 14px;
    font-weight: bold;
}

.form-control {
    border: 1px solid #ddd;
    background-color: #626262;
    color: #333;
}

.form-control:focus {
    border-color: #000;
    box-shadow: none;
}

button {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

button:hover {
    background-color: #333;
}

.form-control::placeholder {
    color: #434343; 
    opacity: 1;
}



footer {
    height: 50px; /* Ajusta el valor según el tamaño que desees */
    padding: 10px 0; /* Reduce el padding si es necesario */
    font-size: 12px; /* Tamaño de fuente más pequeño */
    text-align: center;
  }


  .row {
    padding: 20px; /* Agrega espacio alrededor del contenido */
  }
  
  .col-md-4 {
    padding-left: 15px; /* Ajusta el padding izquierdo si lo necesitas */
    padding-right: 15px; /* Ajusta el padding derecho si lo necesitas */
  }

  
  h5, p {
    margin-bottom: 10px; /* Espaciado entre elementos */
  }
  
footer .container {
    max-width: 1200px; /* Mantener un ancho máximo para contenido */
    margin: auto; /* Centrar el contenido */
}

footer h5 {
    font-size: 1.2rem; /* Tamaño ajustado para títulos */
    color: #333; /* Color del texto del título */
    margin-bottom: 10px; /* Espacio inferior */
    font-weight: 600; /* Aumentar el grosor de la fuente */
}

footer p {
    text-align: left; /* Alinear el contenido a la izquierda */
    font-size: 0.9rem; /* Tamaño más pequeño para el contenido */
    color: #555; /* Color del texto del contenido */
    margin: 0; /* Quitar margen por defecto */
}

/* Redes Sociales */
ul {
  list-style: none;
}

.example-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.example-2 .icon-content {
  margin: 0 10px;
  position: relative;
}
.example-2 .icon-content .tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}
.example-2 .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -50px;
}
.example-2 .icon-content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #4d4d4d;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}
.example-2 .icon-content a svg {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
}
.example-2 .icon-content a:hover {
  color: white;
}
.example-2 .icon-content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover .filled {
  height: 100%;
}

.example-2 .icon-content a[data-social="whatsapp"] .filled,
.example-2 .icon-content a[data-social="whatsapp"] ~ .tooltip {
  background-color: #128c7e;
}

.example-2 .icon-content a[data-social="facebook"] .filled,
.example-2 .icon-content a[data-social="facebook"] ~ .tooltip {
  background-color: #3b5998;
}
.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
  background: linear-gradient(
    45deg,
    #405de6,
    #5b51db,
    #b33ab4,
    #c135b4,
    #e1306c,
    #fd1f1f
  );
}
.example-2 .icon-content a[data-social="youtube"] .filled,
.example-2 .icon-content a[data-social="youtube"] ~ .tooltip {
  background-color: #ff0000;
}

  